@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body {
  @apply m-0;
}
p {
  @apply m-0;
}
h1,
h2 {
  @apply m-0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
h3,
h4 {
  @apply font-semibold text-xl leading-[26px] m-0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
h1 {
  @apply text-2xl leading-8 tracking-[-0.01em] text-[28px] leading-[34px] text-[32px] leading-[41px];
}
h2 {
  @apply text-3xl leading-10;
}
h3 {
  @apply text-lg leading-[22px];
}
h6 {
  @apply font-medium text-xl leading-[30px] text-[rgba(0,0,0,0.87)] mix-blend-normal m-0;
}
ul {
  @apply m-0 p-0;
  list-style: none;
}
li {
  list-style: none;
}
a {
  @apply no-underline text-inherit;
}
